:root{
    --col-primario: #fff0e5;
    --col-primarioOscuro: #D4A373;
    --col-secundario: #723d46;
    --col-blanco: #FFF;
    --col-negro: #000;
    --col-gris: #a39393;
    --fuentePrincipal: 'Courier New', Courier, monospace;
}


body{
    background-color: var(--col-primario);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--col-gris);
    font-family: var(--fuentePrincipal);
    
}

h1 {
    font-size: 1.8rem;
    justify-content: center;
    text-align: center;
}

button {
    background-color: #D4A373;
    padding: .5rem;
    color: var(--col-negro);
    font-size: 2rem;
}

.navbar-div {
    display: block;
    justify-content: center;
    background-color: var(--col-secundario);
}

.navbar-div-botones {
    display: flex;
    justify-content: space-evenly;
}

.boton-lista {
    font-family: var(--fuentePrincipal);
    background-color: #D4A373;
    padding: .5rem;
    font-size: 1rem;
}

.boton-eliminar {
    font-family: var(--fuentePrincipal);
    background-color:#723d46;
    font-size: .7rem;
    color: aliceblue;
}

.div-producto {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
}

#carrito {
    margin-top: 2rem;
    width: 50%;
    color: #000;
    justify-content: end;
    text-align: center;
}

.boton-carrito {
    margin-top: 2rem;
    background-color: var(--col-secundario);
    color: #FFF;
}

.container {
    display: flex;
    justify-content: space-between;
}